<!-- top Products -->
<div class="ads-grid py-sm-5 py-4">
	<div class="container py-xl-4 py-lg-2">
		<!-- tittle heading -->
		
		<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3 agileinfo-ads-display col-lg-9">@{model.category_name}</h3>
		<!-- //tittle heading -->
		<div class="row">
			<!-- product left -->
			<div class="agileinfo-ads-display col-lg-9">
				<div class="wrapper">
					<!-- first section -->
					@{foreach items in model.items}
					<div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
						<div class="row">
							@{foreach item in items}
							<div class="col-md-4 product-men mt-5">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item text-center ">
										<img src="/images/large/@{item.pictures[0]}.jpg" alt="" height="150px"  width="170px">
										<div class="men-cart-pro">
											<div class="inner-men-cart-pro">
												<a href="@{sitemap_url('product')}@{item.id}" class="link-product-add-cart">Quick View</a>
											</div>
										</div>
										@{if item.isnew}<span class="product-new-top">New</span>@{fi}
										@{if item.istop}<span class="product-new-top4">Top</span>@{fi}
									</div>
									<div class="item-info-product text-center border-top mt-4">
										<h4 class="pt-1">
											<a href="@{sitemap_url('product')}@{item.id}">@{item.name}</a>
										</h4>
										<div class="info-product-price my-2">
											<span class="item_price1">@{item.pricemin.currency()}</span>
											@{if item.priceold && item.priceold > item.pricemin}<del>@{item.priceold.currency()}</del>@{fi}
										</div>
									</div>
								</div>
							</div>
							
							@{end}
							
					</div>
				</div>
			@{end}
			<!-- //fourth section -->
	<!-- //product left -->


	<!-- //product left -->
	@{if model.maxPages !== 1}
		<div class="row justify-content-sm-center">
			<div class="paginator Dno2">
				@{if model.currentPage <= 1}
					<a class="prev disabled" href="#"></a>
				@{else}
					<!-- <a class="prev" href="@{sitemap_url('category')}@{model.items[0][0].linker}?page@{model.currentPage - 1}"></a> -->
				@{fi}
				<a class="current" href="#">@{model.currentPage}</a>
				@{if model.currentPage + 1 < model.maxPages}
					<span>&hellip;</span>
				@{fi}
				@{if model.currentPage !== model.maxPages}
					<a href="#3">@{model.maxPages}</a>
					<!-- <a class="next" href="@{sitemap_url('category')}@{model.items[0]}?page=@{model.maxPages}"></a> -->
				@{else}
					<a class="next disabled" href=""></a>
				@{fi}
        	</div>
		</div>
	@{fi}
	</div>
</div>