<!-- top Products -->
<div class="ads-grid py-sm-5 py-4">
	<div class="container py-xl-4 py-lg-2">
		<!-- tittle heading -->
		<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3 agileinfo-ads-display col-lg-9">@{model.category_name}
		</h3>
		<!-- //tittle heading -->
		<div class="row">
			<!-- product left -->
			<div class="agileinfo-ads-display col-lg-12">
				<div class="wrapper">
					<!-- first section -->
					@{foreach items in model}
					<div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
						<h3 class="heading-tittle text-center font-italic">@{items[0].category}</h3>
						<div class="row">
							@{foreach item in items}
							<div class="col-md-4 product-men mt-5">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item text-center ">
										<img src="/images/small/@{item.pictures[0]}.jpg" alt="" height="150px"
											width="170px">
										<div class="men-cart-pro">
											<div class="inner-men-cart-pro">
												<a href="@{sitemap_url('product')}@{item.id}"
													class="link-product-add-cart">Quick View</a>
											</div>
										</div>
										@{if item.isnew}<span class="product-new-top">New</span>@{fi}
										@{if item.istop}<span class="product-new-top4">Top</span>@{fi}
									</div>
									<div class="item-info-product text-center border-top mt-4">
										<h4 class="pt-1">
											<a href="@{sitemap_url('product')}@{item.id}">@{item.name}</a>
										</h4>
										<div class="info-product-price my-2">
											<span class="item_price1">@{item.pricemin.currency()}</span>
											@{if item.priceold && item.priceold >
											item.pricemin}<del>@{item.priceold.currency()}</del>@{fi}
										</div>
									</div>
									@{if F.global.config.shoppingenabled}
									<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
										<fieldset>
											<input type="submit" name="submit" value="Add to cart" class="button btn addcart" data-id="@{item.id}" data-name="@{item.name}"
												data-idvariant="@{item.prices[0].id}" data-variant="@{item.prices[0].name}"
												data-price="@{item.prices[0].price}" />
										</fieldset>
									</div>
									@{fi}
								</div>
							</div>
							@{end}
						</div>
					</div>
					@{end}
					<!-- //fourth section -->
					<!-- //product left -->

				</div>
			</div>
		</div>
	</div>
</div>