<!-- <div class="row">
@{foreach m in model.items}
	<div class="col-md-4">
		<div class="product" data-new="@{m.pricemin}" data-old="@{m.priceold}" data-currency="@{global.config.currency_entity}">
			@{if m.isnew}
				<div class="flags">
					@{if m.isnew}<span style="background-color:#8CC152">@(NEW)</span>@{fi}
					@{if m.istop}<span style="background-color:#DA4453">@(TOP)</span>@{fi}
				</div>
			@{fi}
			<a href="@{m.linker}" class="image"><img src="/images/small/@{m.pictures[0]}.jpg" border="0" alt="@{m.name}" /></a>
			@{if m.size && m.size.length}
				<div class="sizes">
					@{foreach a in m.size}
						<span>@{a}</span>
					@{end}
				</div>
			@{fi}
			@{m.price}
			<a href="@{m.linker_category}/" class="category"><i class="fa fa-folder-o"></i>@{m.category}</a>
			<a href="@{m.linker}" class="name">@{m.name}</a>
			<a href="@{if !url || url === '/'}@{sitemap_url('category')}@{fi}?manufacturer=@{m.linker_manufacturer}" class="manufacturer">@{m.manufacturer}</a>
			<div class="price">
				@{if m.stock}
					<a href="@{m.linker}" class="more"><i class="fa fa-plus"></i>(Detail)</a>
				@{else}
					<span class="outofstock">@(Out of stock)</span>
				@{fi}
				<div>@{!m.pricemin.currency()}@{if m.priceold && m.priceold > m.pricemin} <span>@{!m.priceold.currency()}</span>@{fi}</div>
			</div>
		</div>
	</div>
@{end}
</div> -->



<!-- Main css -->


<!-- top Products -->
<div class="ads-grid py-sm-5 py-4">
	<div class="container py-xl-4 py-lg-2">
		<!-- tittle heading -->
		<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
		Our new products</h3>
		<!-- //tittle heading -->
		<div class="row">
			<!-- product left -->
			<div class="agileinfo-ads-display col-lg-9">
				<div class="wrapper">
					<!-- first section -->
					<div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
						<h3 class="heading-tittle text-center font-italic">New Brand Mobiles</h3>
						<div class="row">
							<div class="col-md-4 product-men mt-5">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item text-center">
										<img src="/default/web/images/m1.jpg" alt="">
										<div class="men-cart-pro">
											<div class="inner-men-cart-pro">
												<a href="single.html" class="link-product-add-cart">Quick View</a>
											</div>
										</div>
										<span class="product-new-top">New</span>
										<span class="product-new-top4">TOP</span>
										</div>
										<div class="item-info-product text-center border-top mt-4">
											<h4 class="pt-1">
												<a href="single.html">Samsung Galaxy J7</a>
											</h4>
											<div class="info-product-price my-2">
												
											<span class="item_price1">$200.00</span>
											</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="Samsung Galaxy J7" />
												<input type="hidden" name="amount" value="200.00" />
												<input type="hidden" name="discount_amount" value="1.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button btn" />
											</fieldset>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 product-men mt-5">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item text-center">
										<img src="/default/web/images/m2.jpg" alt="">
										<div class="men-cart-pro">
											<div class="inner-men-cart-pro">
												<a href="single.html" class="link-product-add-cart">Quick View</a>
											</div>
										</div>
										

									<span class="product-new-top2">Top</span>
										</div>
										<div class="item-info-product text-center border-top mt-4">
											<h4 class="pt-1">
												<a href="single.html">OPPO A37f</a>
											</h4>
											<div class="info-product-price my-2">
											<span class="item_price1">$250.00</span>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="OPPO A37f" />
												<input type="hidden" name="amount" value="230.00" />
												<input type="hidden" name="discount_amount" value="1.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button btn" />
											</fieldset>
										</div>

									</div>
								</div>
							</div>
							<div class="col-md-4 product-men mt-5">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item text-center">
										<img src="/default/web/images/m3.jpg" alt="">
										<div class="men-cart-pro">
											<div class="inner-men-cart-pro">
												<a href="single.html" class="link-product-add-cart">Quick View</a>
											</div>
										</div>
									</div>
									<div class="item-info-product text-center border-top mt-4">
										<h4 class="pt-1">
											<a href="single.html">Apple iPhone X</a>
										</h4>
										<div class="info-product-price my-2">
											<span class="item_price">$280.00</span>
											<del>$300.00</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="Apple iPhone X" />
												<input type="hidden" name="amount" value="280.00" />
												<input type="hidden" name="discount_amount" value="1.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button btn" />
											</fieldset>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- //first section -->
					<!-- second section -->
					<div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
						<h3 class="heading-tittle text-center font-italic">Tv & Audio</h3>
						<div class="row">
							<div class="col-md-4 product-men mt-5">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item text-center">
										<img src="/default/web/images/m4.jpg" alt="">
										<div class="men-cart-pro">
											<div class="inner-men-cart-pro">
												<a href="single.html" class="link-product-add-cart">Quick View</a>
											</div>
										</div>
									</div>
									<div class="item-info-product text-center border-top mt-4">
										<h4 class="pt-1">
											<a href="single.html">Sony 80 cm (32 inches)</a>
										</h4>
										<div class="info-product-price my-2">
											<span class="item_price">$320.00</span>
											<del>$340.00</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="Sony 80 cm (32 inches)" />
												<input type="hidden" name="amount" value="320.00" />
												<input type="hidden" name="discount_amount" value="1.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button btn" />
											</fieldset>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 product-men mt-5">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item text-center">
										<img src="/default/web/images/m5.jpg" alt="">
										<div class="men-cart-pro">
											<div class="inner-men-cart-pro">
												<a href="single.html" class="link-product-add-cart">Quick View</a>
											</div>
										</div>
									</div>
									<div class="item-info-product text-center border-top mt-4">
										<h4 class="pt-1">
											<a href="single.html">Artis Speaker</a>
										</h4>
										<div class="info-product-price my-2">
											<span class="item_price">$349.00</span>
											<del>$399.00</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="Artis Speaker" />
												<input type="hidden" name="amount" value="349.00" />
												<input type="hidden" name="discount_amount" value="1.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button btn" />
											</fieldset>
										</div>

									</div>
								</div>
							</div>
							<div class="col-md-4 product-men mt-5">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item text-center">
										<img src="/default/web/images/m6.jpg" alt="">
										<div class="men-cart-pro">
											<div class="inner-men-cart-pro">
												<a href="single.html" class="link-product-add-cart">Quick View</a>
											</div>
										</div>
									</div>
									<div class="item-info-product text-center border-top mt-4">
										<h4 class="pt-1">
											<a href="single.html">Philips Speakers</a>
										</h4>
										<div class="info-product-price my-2">
											<span class="item_price">$249.00</span>
											<del>$300.00</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="Philips Speakers" />
												<input type="hidden" name="amount" value="249.00" />
												<input type="hidden" name="discount_amount" value="1.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button btn" />
											</fieldset>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- //second section -->
					<!-- third section -->
					<!-- //third section -->
					<!-- fourth section -->
					<div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mt-4">
						<h3 class="heading-tittle text-center font-italic">Large Appliances</h3>
						<div class="row">
							<div class="col-md-4 product-men mt-5">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item text-center">
										<img src="/default/web/images/m7.jpg" alt="">
										<div class="men-cart-pro">
											<div class="inner-men-cart-pro">
												<a href="single.html" class="link-product-add-cart">Quick View</a>
											</div>
										</div>
									</div>
									<div class="item-info-product text-center border-top mt-4">
										<h4 class="pt-1">
											<a href="single.html">Whirlpool 245</a>
										</h4>
										<div class="info-product-price my-2">
											<span class="item_price">$230.00</span>
											<del>$280.00</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="Whirlpool 245" />
												<input type="hidden" name="amount" value="230.00" />
												<input type="hidden" name="discount_amount" value="1.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button btn" />
											</form>
										</div>

									</div>
								</div>
							</div>
							<div class="col-md-4 product-men mt-5">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item text-center">
										<img src="/default/web/images/m8.jpg" alt="">
										<div class="men-cart-pro">
											<div class="inner-men-cart-pro">
												<a href="single.html" class="link-product-add-cart">Quick View</a>
											</div>
										</div>
									</div>
									<div class="item-info-product text-center border-top mt-4">
										<h4 class="pt-1">
											<a href="single.html">BPL Washing Machine</a>
										</h4>
										<div class="info-product-price my-2">
											<span class="item_price">$180.00</span>
											<del>$200.00</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="BPL Washing Machine" />
												<input type="hidden" name="amount" value="180.00" />
												<input type="hidden" name="discount_amount" value="1.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button btn" />
											</fieldset>
										</div>

									</div>
								</div>
							</div>
							<div class="col-md-4 product-men mt-5">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item text-center">
										<img src="/default/web/images/m9.jpg" alt="">
										<div class="men-cart-pro">
											<div class="inner-men-cart-pro">
												<a href="single.html" class="link-product-add-cart">Quick View</a>
											</div>
										</div>
									</div>
									<div class="item-info-product text-center border-top mt-4">
										<h4 class="pt-1">
											<a href="single.html">Microwave Oven</a>
										</h4>
										<div class="info-product-price my-2">
											<span class="item_price">$199.00</span>
											<del>$299.00</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="Microwave Oven" />
												<input type="hidden" name="amount" value="199.00" />	
												<input type="hidden" name="discount_amount" value="1.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button btn" />
											</fieldset>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- //fourth section -->
				
			
				<!-- //product left -->
				<div class="paginator item-info-product text-center border-top mt-4">
				
            <a class="prev disabled" href="#prev"></a>
            <a class="current" href="#1">1</a>
            <span>&hellip;</span>
            <a href="#3">3</a>
            <a class="next" href="product2.html"></a>
        </div>
		</div>
	</div>
	