<!-- //navigation -->
<div class=" ">
	<h3 class="tittle-w3l text-center mb-3">Personal office</h3>
	<div class="modal-body text-center  brd">
		<form action="#" method="post">
			<div class="form-group mb-0">
				<label class="col-form-label">@(Name)</label>
			</div>
				<h>@{user.name}</h>
				<!---<input type="text" class="form-control" placeholder=" " name="Name" required="">
						</div>
						<button class="button button-small b " 
						data-jc="fileupload" 
						data-jc-path="products.form.pictures" 
						data-jc-config="url:[url]api/upload/;multiple:true;accept:image/*;property:id;array:true" 
						data-jc-released="false">
						<i class="fa fa-camera">
						</i>Upload photos</button>-->
			
			<!-- <form action="#" method="post"> -->
				<div class="form-group  mb-0">
					<label class="col-form-label">Email</label>
				</div>
				<h>@{user.email}</h>

				<div class="form-group mb-0">
					<label class="col-form-label">Phone</label>
				</div>
				<h>@{user.phone}</h>

				<div class="form-group mb-1">
					<label class="col-form-label ">Password</label>
					<!---<input type="password" class="form-control" placeholder=" " name="Password" required="">
						</div>
						<div class="right-w3l">
							<input type="submit" class="form-control"  value="Log in" >
						</div>--->
				</div>
				<h>********</h>
			<!-- </form> -->
	</div>
</div>