@{title(model.name)}
<!-- Single Page -->
<div class="banner-bootom-w3-agileits py-5">
	<div class="container py-xl-4 py-lg-2">
		<!-- tittle heading -->
		<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
			@{model.name}</h3>
		<!-- //tittle heading -->
		<div class="row">
			<div class="col-lg-5 col-md-8 single-right-left ">
				<div class="grid images_3_of_2">
					<div class="flexslider">
						<ul class="slides">
							@{foreach image in model.pictures}
							<li data-thumb="/images/large/@{image}.jpg">
								<div class="thumb-image">
									<img src="/images/large/@{image}.jpg" data-imagezoom="true" class="img-fluid"
										alt="">
								</div>
							</li>
							@{end}
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>

			<div class="col-lg-7 single-right-left simpleCart_shelfItem">
				<h3 class="mb-3">@{model.name}</h3>
				<p class="mb-3">
					<span class="item_price">@{model.pricemin.currency()}</span>
					@{if model.pricemin < model.priceold}<del class="mx-2 font-weight-light">
						@{model.priceold.currency()}</del>@{fi}
				</p>
				<div class="single-infoagile">
					<p>@{model.description}</p>
				</div>
				@{if model.body}
					<br />
						@{!model.body}
					<br />
				@{fi}
				@{if F.global.config.shoppingenabled}
					<div class="occasion-cart">
						<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
							<fieldset>
								<input type="submit" name="submit" value="Add to cart" class="button addcart" data-id="@{model.id}" data-name="@{model.name}"
									data-idvariant="@{model.prices[0].id}" data-variant="@{model.prices[0].name}"
									data-price="@{model.prices[0].price}" />
							</fieldset>
						</div>
					</div>
				@{fi}
			</div>
		</div>
	</div>
</div>

<!-- flexslider -->
<link rel="stylesheet" href="/default/web/css/flexslider.css" type="text/css" media="screen" />

<script src="/default/web/js/jquery.flexslider.js"></script>
<script>
	// Can also be used with $(document).ready()
	jQuery(document).ready(function ($) {
		$(window).on('load', function () {
			$('.flexslider').flexslider({
				animation: "slide",
				controlNav: "thumbnails"
			});
		});
	});
</script>

<!-- //Single Page -->