<!-- footer -->
		<!-- footer third section -->
		<div class="w3l-middlefooter-sec">
			<div class="Dno">
				<div class="  w3-agileits-info-info">
					
					<!-- quick links -->
					<div class="col-md-12 col-sm-12  mt-sm-12 mt-1 ">
						<h3 class="text-white font-weight-bold mb-1">Quick Links</h3>
							<div class="textG">
								<a href="about.html">About Us</a>
							
								<a href="contact.html">Contact Us</a>
							
								<a href="help.html">Help</a>
							
								<a href="faqs.html">Faqs</a>

								<a href="terms.html">Terms of use</a>
					
								<a href="privacy.html">Privacy Policy</a>
							</div>
					</div>
					<div class="col-md-12 col-sm-12 textB  mt-sm-12 mt-12">
						<h3 class="text-white font-weight-bold">Get in Touch</h3>
						
							
								<i class="fas fa-mobile"></i><i>+972506415604</i>
							
								<i class="fas fa-envelope-open"></i>
								<i href="Email:Liorb1975@gmail.com">Liorb1975@gmail.com</i>
							
						
					</div>
					
					<div class=" col-md-12 col-sm-12  w3l-agileits mt-md-12 mt-12">
						<!-- newsletter -->
						<h3 class="text-white  font-weight-bold  ">Newsletter</h3>
						<div class="textC">Get news about us!
						<form action="#" method="post">
							<div class="	">
								<div class="center">
							
										<div class="form-group">
											<input type="email" class="form-control" placeholder="Email" name="email" required="">
											<input type="submit" value="Go">
										</div>
									</div>
								</div>
								
							</div>
							</div>
						</form>
						<!-- //newsletter -->
					</div>
				</div>
				<!-- //quick links -->
			</div>
		</div>
		<!-- //footer third section -->
<!-- payment -->
				<div class="sub-some child-momu mt-4">
					<h5 class="font-weight-bold mb-3">Payment Method</h5>
					<ul>
						<li>
							<img src="images/2006.png" alt="">
						</li>
						<li>
							<img src="images/pay8.png" alt="">
						</li>
						
					</ul>
				</div>
				<!-- //payment -->	
			</div>
		</div>
		<!-- //footer fourth section (text) -->
	</footer>
	<!-- //footer -->
	<!-- copyright -->
	<div class="copy-right py-3">
		<div class="container">
			<p class="text-center text-white">© 2019 Electro Store.
			</p>
		</div>
	</div>
	<!-- //copyright -->