<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Rich Tenders Online Shop Electronics Mobile Phones PC Computers Tables Notebook Laptop"
	/>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

<!-- <link rel="stylesheet" href="//cdn.componentator.com/spa.min@14.css"/> -->
<script src="//cdn.componentator.com/spa.min@14.js"></script>
@{import('meta', 'head', 'style.css', 'default.js', 'favicon.ico')}
	<!-- //Meta tag Keywords -->

	<!-- Custom-Files -->
	<link href="/default/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!-- Bootstrap css -->
	<link href="/default/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="/default/css/ui.css" type="text/css" media="all" />
	<!-- Main css -->
	<link rel="stylesheet" href="/default/web/css/fontawesome-all.css" media="all">
	<!-- Font-Awesome-Icons-CSS -->
	<link href="/default/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
	<!-- pop-up-box -->
	<link href="/default/css/menu.css" rel="stylesheet" type="text/css" media="all" />
	<!-- menu style -->
	<!-- //Custom-Files -->

	<!-- web fonts -->
	<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet"/>
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
		rel="stylesheet"/>
</head>
<body data-jc="exec,binder,modificator">
	<script src="@{global.js}"></script>

	<div class="agile-main-top">
		<div class="container-fluid">
			<div class="row main-top-w3l py-2">
				<div class="col-lg-6 header-most-top">
					<p class="text-white text-lg-left text-center">RichTenders
						<i class="fas fa-shopping-cart ml-1"></i>
					</p>
				</div>
				<div class="col-lg-6  header-right mt-lg-0 mt-2">
					<!-- header lists -->
					<ul>
						@{if user}
						<li class="text-center  text-white">
								<a href="@{sitemap_url('account')}" class="text-white">
									<i class="fas fa-sign-in-alt mr-2"></i> @{user.name} </a>
						</li>
						<li class="text-center  text-white">
							<a href="@{sitemap_url('logoff')}"class="text-white">
								<i class="fas fa-sign-in-alt mr-2"></i> @(Logout) </a>
						</li>
						<li class="text-center  text-white">
								<i class="fas fa-phone mr-6"></i> @{user.phone}
						</li>
						@{else}
						<li class="text-center  text-white">
							<a href="#" data-toggle="modal" data-target="#exampleModal" class="text-white">
								<i class="fas fa-sign-in-alt mr-2"></i> @(Log In) </a>
						</li>
						<li class="text-center text-white">
							<a href="#" data-toggle="modal" data-target="#exampleModal2" class="text-white">
								<i class="fas fa-sign-out-alt mr-2"></i>@(Register) </a>
						</li>
						@{fi}
					</ul>
					<!-- //header lists -->
				</div>
			</div>
		</div>
	</div>

	

	<!-- modals -->
	<!-- log in -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-center">@(Log In)</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" data-jc="enter" data-jc-path="account.signin" data-jc-config="exec:signinsubmit" data-b="account.type" data-b-visible="value === 'signin'">
						<p id="error-label-login"></p>
						<div class="form-group">
							<label class="col-form-label">@(Email)</label>
							<div name="Email"
								data-jc-path="account.signin.email" data-jc-config="required:true;maxlength:120;type:email" data-jc-value="'@'" data-jc="textbox"></div>
						</div>
						<div class="form-group">
							<label class="col-form-label">@(Password)</label>
							<div name="Password" data-jc="textbox"
								data-jc-path="account.signin.password" data-jc-config="required:true;maxlength:40;type:password"></div>
						</div>
						<div data-jc="error" data-jc-path="account.signin.response"></div>
						<div class="right-w3l button b exec">
								<input type="submit" class="button b exec form-control" data-exec="signinsubmit" name="submit" value="@(Log In)" 
								data-jc="validation" data-jc-path="account.signin"/>
						</div>
						<div class="sub-w3l">
							<div class="custom-control custom-checkbox mr-sm-2">
								<input type="checkbox" class="custom-control-input" id="customControlAutosizing">
								<label class="custom-control-label" for="customControlAutosizing">Remember me?</label>
							</div>
						</div>
						<p class="text-center dont-do mt-3">@(Don't have an account?)
							<a href="javascript:void(0);" data-toggle="modal" data-target="#exampleModal2">
								@(Register Now)</a>
						</p>
				</div>
			</div>
		</div>
	</div>
	<!-- register -->
	<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">@(Register)</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
						<p id="error-label-signup"></p>
						<div class="form-group">
							<label class="col-form-label">@(Your Firstname)</label>
							<div data-jc="textbox" data-jc-path="account.signup.firstname" data-jc-config="required:true;maxlength:40"></div>
						</div>
						<div class="form-group">
								<label class="col-form-label">@(Your Lastname)</label>
								<div data-jc="textbox" data-jc-path="account.signup.lastname" data-jc-config="required:true;maxlength:40"></div>
							</div>
						<div class="form-group">
							<label class="col-form-label">@(Email)</label>
							<div data-jc="textbox" data-jc-path="account.signup.email" data-jc-config="required:true;maxlength:120;type:email" data-jc-value="'@'"></div>
						</div>
						<div class="form-group">
							<label class="col-form-label">@(Phone Number)</label>
							<div data-jc="textbox" data-jc-path="account.signup.phone" data-jc-config="maxlength:30;type:phone;placeholder:@(International format)"></div>
						</div>
						<div class="form-group">
							<label class="col-form-label">@(Password)</label>
							<div data-jc="textbox" data-jc-path="account.signup.password" data-jc-config="required:true;maxlength:30;type:password"></div>
						</div>
						<div class="form-group">
							<label class="col-form-label">@(Confirm Password)</label>
							<div data-jc="textbox" data-jc-path="account.signup.passwordreply" data-jc-config="required:true;maxlength:30;type:password"></div>
						</div>
						<div class="right-w3l button b exec">
								<input type="submit" class="button b exec form-control" data-exec="signupsubmit" name="submit" value="@(Sign Up)" 
								data-jc="validation" data-jc-path="account.signupsubmit"/>
						</div>
						<div class="sub-w3l">
							<div data-jc="checkbox" data-jc-path="account.signup.isterms" class="b red m" onclick="this.style.display = 'none';">@(I agree with terms and conditions)</div>
						</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //modal -->
	<!-- //top-header -->

	<!-- header-bottom-->
	<div class="header-bot">
		<div class="container">
			<div class="row header-bot_inner_wthreeinfo_header_mid">
				<!-- logo -->
				<div class="col-md-3 logo_agile">
					<h1 class="text-center">
						<a href="/" class="font-weight-bold font-italic">
							<img src="/default/web/images/2001.png" alt=" " class="img-fluid1"> RichTenders
						</a>
					</h1>
				</div>
				<!-- //logo -->
				<!-- header-bot -->
				<div class="col-md-9 header mt-4 mb-md-0 mb-4">
					<div class="row">
						<!-- search -->
						<div class="col-10 agileits_search">
							<!-- <form class="form-inline" action="#" method="post">
								<input class="form-control mr-sm-2" type="search" placeholder="Your request" aria-label="Search" required>
								<button class="btn my-2 my-sm-0" type="submit">@(Search)</button>
							</form> -->
							<form class="form-inline" style="float: right;">
									<div><input type="text" placeholder="@(Search products ...)" name="q" value="@{query.q}" id="search" autocomplete="off" />
									</div>
							</form>
						</div>
						<!-- //search -->
						
						@{if F.global.config.shoppingenabled}
						<div class="col-2 top_nav_right text-center mt-sm-0 mt-2">
							<div class="product-new-top1 shoppingcart" data-m="shoppingcart.sum">
								<a style="color: white;" href="@{sitemap_url('checkout')}"><b data-b="shoppingcart.sum" data-b-html="'@{global.config.currency_entity}'.format(value ? value.format(2) : (0).format(2))">0.00</b></a>
							</div>
							<div class="wthreecartaits wthreecartaits2 cart cart box_1">
								<button class="btn w3view-cart" type="submit" name="submit" value="">
									<i class="fas fa-cart-arrow-down"></i>
								</button>
							</div>
						</div>
						@{fi}
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<div data-jc="autocomplete"></div>
	<!-- shop locator (popup) -->
	<!-- //header-bottom -->
	<!-- navigation -->
	<div class="navbar-inner">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="agileits-navi_search">
					<form action="#" method="post">
						<select id="agileinfo-nav_search" name="agileinfo_search" class="border" onchange="location = this.value">
							<option selected>@(Category)</option>
							@{if repository.category}
								@{foreach m in repository.category}
									@{if m.count}
										<option value="@{sitemap_url('category')}@{m.linker}">@{m.name}</option>
									@{fi}
								@{end}
							@{else}
								@{foreach m in global.categories}
									@{if m.count}
										<option value="@{sitemap_url('category')}@{m.linker}">@{m.name}</option>
									@{fi}
								@{end}
							@{fi}
						</select>
					</form>
				</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				    aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto text-center mr-xl-5">
						<li class="nav-item active mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link" href="@{sitemap_url('homepage')}">@(Home)
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link" href="@{sitemap_url('about')}">@(About Us)</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="@{sitemap_url('contact')}">@(Contact Us)</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	

	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<!-- Indicators-->
		<div class="carousel-inner">
			<div class="carousel-item item1 active">
				<div class="container">
					<div class="w3l-space-banner">
						<!---<div class="carousel-caption p-lg-5 p-sm-4 p-3">
							<p>Get flat
								<span>10%</span> Cashback</p>
							<h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">The
								<span>Big</span>
								Sale
							</h3>
							<a class="button2" href="product.html">Shop Now </a>
						</div>-->
					</div>
				</div>
			</div>
			
		</div>

	</div>

	@{if F.global.config.shoppingenabled}
		<div data-jc="shoppingcart" data-jc-path="shoppingcart" data-jc-config="discount:@{if user}@{user.discount}@{else}0@{fi}"></div>
	@{fi}

	@{body}
	@{view('partials/footer')}

	

	<script>
		$(document).ready(function () {
			$(".dropdown").hover(
				function () {
					$('.dropdown-menu', this).stop(true, true).slideDown("fast");
					$(this).toggleClass('open');
				},
				function () {
					$('.dropdown-menu', this).stop(true, true).slideUp("fast");
					$(this).toggleClass('open');
				}
			);
		});
	</script>

	<!-- for bootstrap working -->
	<script src="/default/web/js/bootstrap.js"></script>

	<script>

			var account = {};
		
			account.type = 'signin';
		
			function signupsubmit() {
				if (BLOCKED('account', 3000))
					return;
		
				SETTER('loading', 'show');
				AJAX('POST /api/account/create/', account.signup, function(response) {
		
					SETTER('loading', 'hide', 1000);
		
					if (response.success)
						location.reload(true);
					else {
						RESET('account.signup.*', true);
						//SET('account.signup.response', response);
						document.getElementById("error-label-signup").innerHTML = "<b>" + response[0].error + "</b>";
					}
				});
			}
		
			function signinsubmit() {
				if (BLOCKED('account', 3000))
					return;
		
				AJAX('POST /api/account/login/', account.signin, function(response) {
		
					if (response.success)
						location.reload(true);
					else {
						RESET('account.sigin.*', true);
						// SET('account.sigin.response', response);
						document.getElementById("error-label-login").innerHTML = "<b>" + response[0].error + "</b>";
					}
				});
			}
		
			function passwordsubmit() {
		
				if (BLOCKED('account', 3000))
					return;
		
				SETTER('loading', 'show');
				AJAX('POST /api/account/password/', account.password, function(response) {
					SETTER('loading', 'hide', 1000);
					if (response.success)
						SETTER('message', 'success', '@(We sent you the email with instructions for resetting password.)');
					else {
						RESET('account.password.*', true);
						// SET('account.password.response', response);
						document.getElementById("error-label-passwordsubmit").innerHTML = "<b>" + response[0].error + "</b>";
					}
				});
			}
		
			function switchpassword() {
				SET('account.type', account.type === 'password' ? 'signin' : 'password');
			}
		
		</script>
	

</body>
</html>